<nav class="navbar navbar-dark navbar-fixed-top cust-nav">
    <div class="col-xs-6 col-sm-3 col-md-2 cust-logo-one">
        <img src="../../assets/new_logo.png" class="cust-logo" alt="">
    </div>
    <div class="col-md-8 cust-logo-two d-none d-md-block d-lg-block">
      <img src="../../assets/new_title.png" class="cust-banner" />
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2  cust-logo-three">
        <a href="http://rikf.org/rikf/welcome.htm">
            <img src="../../assets/shukokai_logo.png" class="cust-logo-second" alt="">
        </a>
    </div>
    <div class="d-block d-md-none">
            <img src="../../assets/new_title.png" class="cust-banner" />
    </div>
</nav>