.cust-nav{
    background-color:black;
    position: fixed;
    width: 100%;
}
.cust-logo{
    height: 120px;
    width: auto;
    margin-left: -20px;
}
.cust-logo-second{
    height: 120px;
    width: auto;
}
.cust-logo-two{
    left: 40px;
}

.cust-logo-three{
    text-align: right;
    padding: 0px;
}

.cust-banner{
    height: 120px;
    text-align: center;
}
.col-sm-6{
    text-align: center;
}
.cust-logo-four{
    display: none;
}

@media (max-width: 768px) {
    .cust-logo-one{
        width: 50%;
        margin-left: 0px;
    }
    .cust-logo-three{
        left: 0px;
        width: 50%;
    }
    .cust-logo{
        height: 90px;
        width: auto;
        margin-left: 0px;
    }
    .cust-logo-second{
        height: 90px;
        width: auto;
        margin-left: 0px;
        text-align: right;
        margin-left: 30px;
    }
    
}
@media only screen and (max-width: 576px) {

    .cust-logo-one{
        width: 50%;
        margin-left: 0px;
    }
    .cust-logo-three{
        left: 0px;
        width: 50%;
    }
    .cust-logo{
        height: 60px;
        width: auto;
        margin-left: 0px;
    }
    .cust-logo-second{
        height: 60px;
        width: auto;
        margin-left: 0px;
        text-align: right;
        margin-left: 88px;
    }
    .cust-banner{
        height: 60px;
        text-align: center;
    }
}