.cust-nav{
    background-color:black;
    position: fixed;
    width: 100%;
}
.cust-logo{
    height: 120px;
    width: auto;
    margin-left: -20px;
}
.cust-banner{
    height: 120px;
    width: 100%;
    text-align: center;
}
.col-sm-6{
    text-align: center;
}
@media only screen and (max-width: 400px) {
    .col-sm-6 img{
        height: 60px;
    }
}