<nav class="navbar navbar-dark navbar-fixed-top cust-nav">
    <div class="cust-logo-one">
        <a href="http://ryushinkanindia.org/">
            <img src="../../assets/new_logo.png" class="cust-logo" alt="">
        </a>
    </div>
    <div class="cust-logo-four">
        <a  target="_blank" href="http://rikf.org/rikf/welcome.htm">
            <img src="../../assets/shukokai_logo.png" class="cust-logo-second" alt="">
        </a>
    </div>
    <div class="banner-holder">
      <img src="../../assets/new_title.png" class="cust-banner" />
    </div>
    <div class="cust-logo-three">
        <a target="_blank" href="http://rikf.org/rikf/welcome.htm">
            <img src="../../assets/shukokai_logo.png" class="cust-logo-second" alt="">
        </a>
    </div>
</nav>