<footer class="footer-bs">
  <div class="row custom-footer">
    
    <div class="col-md-12 menu">
        <span class="cust-link">Welcome \</span><span class="cust-link">Profile \</span><span class="cust-link">Events \</span>
        <span class="cust-link">Gallery \</span><span class="cust-link">Contacts</span>
    </div>
    <div class="col-md-12">
        <span class="follow-us">Follow Us On </span> <span class="social-media-name">Facebook</span>
    </div>
    <div class="col-md-12 copyright">
        Copyright &copy; {{year}} RIKF
    </div>
    
  </div>
</footer>