<div class="row main-general-font">
  <div class="col-md-10 custom-content">
    <div class="row change-row">
        <div class="col-md-6 content">
            <div class="subcontent">
              <b>Head Office - India</b>
            </div>
            <div class="subcontent">
              <b>
              Sunny Geevarghese<br>
              Shihan, 7 th Dan<br>
              </b>
              Y.M.C.A Hall<br>
              Punalur<br>
              Kerala<br>
              India<br>
              Pin – 691305</div>
            <div class="subcontent"><b>Tel:</b> +91 9447332267</div>
            <div class="subcontent"><b>Email:</b> ryushinkankarateplr@gmail.com</div>
        </div>
    
      <div class="col-md-6 content">
          <div class="subcontent"><b>Head Office - International</b></div>
          <div class="subcontent">
            <b>
            Masuyama Takeshi<br>
            Soke, 10 th Dan<br>
            </b>
            Shiyoya-cho 1-6- 6<br>
            Tarumi-ku, KOBE-shi<br>
            Hyogo-ken  655-0872<br>
            Japan<br>
            </div>
          <div class="subcontent"><b>Tel:</b> (81) 78-708- 1087
              <br>
              <b>Fax:</b> (81) 78-708- 1087</div>
          <div class="subcontent"><b>Email:</b> ryushin@karate.office.ne.jp</div>
      </div>
    </div>
</div>
  
</div>
