.content{
    text-align: left;
    margin-top: 20px;
    border: 1px solid #EABD50;
    min-height: 400px;
    padding: 0px;
}
.subcontent{
    padding-bottom: 10px;
    /* border-bottom: 1px solid #EABD50; */
    padding-left: 15px;
}

.main-heading-font{
    font-weight: 650 !important;
    text-transform: capitalize !important;
    color: #D2691E !important;
}

.main-general-font{
    font-weight: 600 !important;
}

.custom-content{
    margin-left: 120px;
    padding-left: 30px;
    padding-right: 30px;
}