.template{
    text-align: center;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important; 
    margin-bottom: 5%;
    border-bottom: 1px solid #EABD50;
    padding-bottom: 6px;
}

.event-md-div{
    margin-left: 40px;
    margin-top: 10px;
}

img{
    width:390px;height:auto;
    border: 1px solid rgb(248, 218, 117);
}
span{
    display: block;
    color: #EABD50;
}
h2{
    color: #EABD50;
    font-size: 1.4rem;
}
.component-class{
    margin-top: 10px;
}

.main-heading-font{
    font-weight: 650 !important;
    text-transform: capitalize !important;
    color: #D2691E !important;
}

.main-general-font{
    font-weight: 600 !important;
}

.glry-cls{
    border-left: 1px solid black;
    margin-top: -8px;
    position: fixed;
    right: 0px;
    padding: 0px;
    height: 100%;
    width: 150px !important;
}

.cust-content {
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
}