.template{
    text-align: center;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important; 
    margin-left: 10%;
    margin-bottom: 5%;
    border-bottom: 1px solid #EABD50;
    padding-bottom: 6px;
}
img{
    width:390px;height:auto;
}
span{
    display: block;
    color: #EABD50;
}
h2{
    color: #EABD50;
}
.component-class{
    margin-top: 10px;
}
