<div class="row component-class">
  <div class="col-md-10 cust-content">
    <div class="template" *ngFor="let event of currentEvent">
      <h2 class="main-heading-font">{{event.name}}</h2>
      <span *ngIf="event.date != '' " >Date : {{event.date}}</span>
      <span *ngIf="event.venue != '' " >Venue: {{event.venue}}</span>
      <span><img [src]="event.image" /> </span>
    </div>
  </div>
  <div class="col-md-2 glry-cls">
    <app-yearlist cYear={{currentYear}} (CustomEvent)="onYearSelect($event)" ></app-yearlist>
  </div>
</div>