
.template
{
    margin-top: 10px;
    border: 1px solid rgba(210, 163, 32, 0.65);
    text-align: center;
    margin-right:0px;
    margin-bottom: 10px;
    width: 100%;
    margin-left: 5px;
}
.template img{
    width: auto;
    height: 150px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 150px;
    cursor: pointer;
}
button{
    margin-bottom: 10px;
}
.row{
    margin-top: 8px;
}
.leftarrow{
    width: 32px;
    height: 32px;
    margin-right: 20px;
    cursor: pointer;
}
.rightarrow{
    width: 32px;
    height: 32px;
    margin-right: 20px;
    cursor: pointer;
}
.options{
    text-align: center;
    margin-top: 20px;
}
.modal-img{
    width: auto;
    height: 400px;
    max-width: 755px;
    border: 1px solid rgba(210, 163, 32, 0.65);
}
.modal-body{
    text-align: center;
}
.close-modal{
    width: 100%;
    position: relative;
    height: 40px;
}

.glry-cls{
    border-left: 1px solid black;
    margin-top: -8px;
    position: fixed;
    padding: 0px;
    height: 100%;
    width: 150px !important;
    right: 0px;
}

.cust-content{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 94px;
    padding-right: 0px;
}