<div class="row component-class">
  <div class="col-md-10 cust-content">
    <div class="flex-container">
      <div  class="template custom-resp" *ngFor="let item of currentGallery;let i = index">
        <span class="helper"></span>
        <img [src]="item" (click)="open(content, item, i)" />
      </div>
    </div>
  </div>
  <div class="col-md-2 glry-cls" >
    <app-galleryyearlist cyear={{currentYear}} (CustomEvent)="onYearSelect($event)" ></app-galleryyearlist>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss" >  
  <div class="modal-body">
    <div class="close-modal" >
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-img">
      <img [src]="selectedImg"/>
    </div>
    <div class="options">
      <img (click)="previous()" src="../../assets/rightarrow.svg" class="leftarrow" />
      <img (click)="next()" src="../../assets/leftarrow.svg" class="rightarrow" />
    </div>
  </div>
</ng-template>
