.cust-container{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    min-height: 597px;
}
/* .row{
	margin-left: 0px !important;
    margin-right: 0px !important;
} */
.margin-remove{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.cust-navbar{
    padding: 0px;
    margin-right: -80px;
}
.cust-outlet{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 138px;
}
.responsive-custom-show{
    display: none;
}
.custom-navbar{
    padding: 0px;
}

.router-class{
    margin-top: 136px;
    width: calc(100% - 300px);
}

.main-heading-font{
    font-weight: 650px !important;
    text-transform: capitalize !important;
    color: #D2691E !important;
}

/* @media only screen and (max-width: 400px) {
    .responsive-custom-hide{
        display: none;
    }
    .cust-outlet{
        padding-right: 0px;
        margin-top: 0px;
    }
    .responsive-custom-show{
        margin-top: 120px;
    }
} */

@media screen and (min-width: 0px) and (max-width: 480px) {
    .custom-navbar { display: none; }
    .responsive-custom-show[_ngcontent-c0] {
        display: block;
        margin-top: 110px;
        margin-bottom: -110px;
    }
    .router-class{
        margin-top: 110px;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

  
@media screen and (min-width: 481px) and (max-width: 1015px) {
    .custom-navbar { display: none; }   /* hide it elsewhere */
    .responsive-custom-show {
        display: block;
        margin-top: 188px;
        margin-bottom: -110px;
    }
    .router-class{
        margin-top: 110px;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1015px) {
    .responsive-custom-show {
        display: block;
        margin-top: 110px;
        margin-bottom: -110px;
    }
}