<app-header></app-header>
<div class="container cust-container">
  <div class="row">
    <div class="col-md-2 col-sm-2 custom-navbar" style="max-width:150px;">
      <app-navbar></app-navbar> 
    </div>
    <div class="col-sm-12 responsive-custom-show" >
      <app-mobile-navbar></app-mobile-navbar>
    </div>
    <div class="col-md-9 col-sm-12 router-class" >
      <router-outlet style="position:absolute;overflow-y:auto;"></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>
  

    