.cust-container{
    margin-bottom: 20px;
    margin-top: 35px;
    background-color: black;
    text-align: center;
}
.cust-img{
    /* height: 300px;
    width: auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px; */
    height: inherit;
    width: auto;
    max-height: 180px;
}
.main-heading-font{
    font-weight: 650 !important;
    text-transform: capitalize !important;
    color: #D2691E !important;
}