.cust-container{
    margin-bottom: 20px;
    margin-top: 35px;
    background-color: black;
    text-align: center;
}
.cust-img{
    height: 360px;
    width: auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}