<app-imageslider-component></app-imageslider-component>
<div class="content-div text-center">
    <h3 style="color: #E3B74D;">Shito-Ryu Karate</h3>
    <p class="text-justify custom-p"><b>S</b>hito-Ryu is a karate style founded by MABUNI Kenwa, which combines two
        different roots of karate. On one hand, Shito-Ryu has the physical strength and
        long powerful stances of Shuri-te; on the other hand, Shito-Ryu has the circular
        and eight-directional movements, breathing power, and hard and soft
        characteristics of Naha-te. MABUNI formed the name Shito-Ryu by taking the
        first character from the names of each of his two primary teachers, ITOSU Anko,
        who promoted Shuri-te and HIGASHIONNA Kanryo, who finally formalized
        Naha-te. In this way MABUNI showed the honor and respect to his great teachers.</p>
    <p class="text-justify custom-p"><b>T</b>he defining characteristics of Shito-Ryu karate are its large number of kata, the
        versatility of its fighting techniques and the inclusion of Okinawan weapons in its
        instruction. Shito-Ryu is extremely fast, but still can be artistic and powerful.</p>
    
</div>
<div class="content-div text-center">
    <h3 style="color: #E3B74D;">Characteristics of Shukokai Style</h3>
    <p class="text-justify custom-p"><b>A</b>s a direct descendent of Okinawan Karate&#39;s Shito-Ryu style, Shukokai has inherited the characteristics
        of both Naha-te and Shuri-te styles. It was MABUNI Kenwa who merged the techniques and principles of
        both styles which he had himself learned from his teachers HIGASHIONNA Kanryu and ITOSU Anko, into
        his own Karate style: Shito-Ryu, which Tani Chojiro will later turn into Shukokai. As a result, Shukokai
        combines the Naha-te circular breathing techniques and the Shuri-te quick linear movements. This is
        most apparent in some of the many Shukokai.&#39;s Katas, such as Sanchin, Tensho, Suparunpei which
        come from the Naha-te tradition, or Annanko, Matsukaze, and Bassai-Dai, derived from the Shuri-te
        tradition.</p>
    <p class="text-justify custom-p"><b>S</b>hukokai is noticeable for its relatively high number of katas . This is a direct result of MABUNI Kenwa&#39;s
        experience with both the Naha-te and Shuri-te styles as well as his encounter with other teacher&#39;s styles.
        MABUNI was known as &quot;the foremost expert on kata&quot; all over Japan.</p>
    <p class="text-justify custom-p"><b>A</b>lthough Shukokai shares many of the punches, kicks, and blocks with other popular styles of Karate, the
        way it executes them sets Shukokai apart.</p>
    <p class="text-justify custom-p"><b>T</b>ANI Chojiro, who created Shukokai from MABUNI&#39;s Shito-Ryu&#39;s inheritance spent his lifespan enriching
        his style continuously refining each technique to the highest degree, mainly re-defining the basics which
        had been practiced for centuries. Shukokai makes the study of the body&#39;s mechanics his primary focus
        and the delivery of the greatest impact with the least amount of effort as the end result. Another
        characteristic is that each technique must be combat effective.</p>
    <p class="text-justify custom-p"><b>B</b>oth TANI Chojiro and his successor MASUYAMA Takeshi, believe that a technique, as powerful as it
        may be, is useless if it cannot be delivered under combat situations. Remember, Karate was originally a
        means of self-defense, not a sport. Their philosophy is thus, that the outcome of a confrontation should
        be decided in a single technique, &quot;one hit one kill&quot;, as per the way of the samurais of old.</p>
</div>
<div class="content-div text-center">
    <h3 style="color: #E3B74D;">Ryushin-Kan Karate</h3>
    <p class="text-justify custom-p"><b>A</b>s Shukokai Karate started spreading and became more and more universal, and more and more a
        &quot;sport&quot; practiced by many, losing so doing, some of its fighting original properties.</p>
    <p class="text-justify custom-p"><b>M</b>ASUYAMA  Takeshi  who inherited the main Shukokai&#39;s association directly from his master TANI
        Chojiro in 1998, (hence his nowadays title of Shukokai&#39;s KANCHO) gradually took a reverse way, by
        delving into old documents left by MABUNI Kenwa, until he created his own style, Ryushin-Kan, which
        like a shining and bright shooting star (another meaning for the first two kanji of  Ryushin-Kan) brings  us
        back to the original Okinawan style, enriched by all the consummate skills of the great masters, ITOSU,
        MIYAGI, HIGASHIONNA, MABUNI and TANI.</p>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <app-eventslider></app-eventslider>
    </div>
    <div class="col-md-6">
        <welcome-gallery></welcome-gallery>
    </div>
</div>