.content-div{
    margin-top: 20px;
}
.custom-p{
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 15px;
}
.component-class{
    margin-right: 0px;
    margin-left: 0px;
}

.main-heading-font{
    font-weight: 650 !important;
    text-transform: capitalize !important;
    color: #D2691E !important;
}

.main-general-font{
    font-weight: 600 !important;
}

.cust-content{
    margin-left: auto;
    padding-left: 0px;
    margin-right: auto;
    padding-right: 0px;
    text-align: center;
}