.content-div{
    margin-top: 20px;
    padding-left:10px;
    padding-right: 10px;
}
.custom-p{
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 15px;
}
.component-class{
    margin-right: 0px;
    margin-left: 0px;
}

.main-heading-font{
    font-weight: 650 !important;
    text-transform: capitalize !important;
    color: #D2691E !important;
}

.main-general-font{
    font-weight: 600 !important;
}

.cust-content{
    margin-left: 80px;
    padding-left: 65px;
    padding-right: 66px;
}