
.carousel-item{
    background-color: white;
}
.cust-h3{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.cust-p{
    padding: 2px;
    margin: 0px !important;
    margin-bottom: 0px !important
}
.cust-container{
    margin-bottom: 20px;
    margin-top: 35px;
    background-color: black;
    text-align: center;
}
.cust-img{
    height:360px;
    width:auto;
    text-align: center;
    padding-top: 115px;
    padding-bottom: 25px;
}
.cust-description{
    color: #EABD50;
    background-color: hsla(0, 0%, 0%, 0);
    height: 360px;
    margin-bottom: -20px;
    margin-left: -70px;
    margin-right: -70px;
    text-transform: uppercase;
}
p{
    font-size: 15px;
}

