.gls-list{
    margin-top: -6px;
}

ul{
    list-style-type: none;
}

ul li{
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

ul li.active{
    background-color: #B9AF8B;
}

.active{
    background-color: #e3b74d;
    color: black;
    font-weight: 600;
}

ul{
    margin: 0px;
    padding: 0px;
}

.spn-cls{
    width: 100%;
    display: block;
    height: 48px;
    padding-top: 14px;
}