<div id="sidebar-wrapper" class="cust-sidebar main-general-font">
  
  <ul class="sidebar-nav" id="sidebar">
    <li ><a routerLinkActive="active" class="cust-a" routerLink="/" [routerLinkActiveOptions]="{ exact: true}" >Welcome<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
    <li><a routerLinkActive="active" class="cust-a" routerLink="/profile" >Profile<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
    <li><a routerLinkActive="active" class="cust-a" routerLink="/events">Events<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
    <li><a routerLinkActive="active" class="cust-a" routerLink="/gallery">Gallery<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
    <li><a routerLinkActive="active" class="cust-a" routerLink="/contacts">Contact<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
  </ul>
</div>