.cust-h3{
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    color: #EABD50;
    
    padding-bottom: 3px;
    text-align: center;
}

.profile-img{
    height: 240px;
    width: auto;
    display: block;
    text-align: center;
    margin-left: 38%;
}
.img-div{
    width: 100%;
    border-bottom: 1px solid #EABD50; 
    padding-bottom: 20px;
}

.p-paragraph{
    text-align: justify;
    padding-top: 10px;
    margin-top: 10px;
    display: block;
    margin-left: 30px;
}
.cust-table{
    width: 100%;
    text-align: center;
}

.cust-h4{
    margin-top: 20px;
}

.subtitle{
    font-size: 14px;
    color: black;
} 

.row-content{
    margin-bottom: 140px;
}