.cust-h3{
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    color: #EABD50;
    padding-bottom: 3px;
    text-align: center;
    border-bottom: 1px solid #EABD50;
    font-size: 1.4rem; 
}

.profile-img{
    height: 240px;
    width: auto;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.img-div{
    width: 100%;
    padding-bottom: 20px;
}

.p-paragraph{
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 2px;
    display: block;
    margin-left: 0px;
}
.cust-table{
    width: 100%;
    text-align: center;
}

.cust-h4{
    margin-top: 20px;
}

.subtitle{
    font-size: 14px;
    color: black;
} 

.row-content{
    padding-bottom: 30px;
    border-bottom: 1px solid #EABD50;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-size: medium;
}

.make-small{
    font-size: 1.0rem; 
}

.main-heading-font{
    font-weight: 650 !important;
    text-transform: capitalize !important;
    color: #D2691E !important;
}

.main-general-font{
    font-weight: 600 !important;
}

.cust-content{
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
}
/* .row{
    margin-left: 0px !important;
    margin-right: 0px !important;
} */

table{
    word-break: initial;
}

.profile-content{
    padding-bottom: 10px;
}

.break-table{
    word-break: break-word;
}