.cust-h3{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.cust-p{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.cust-container{
    margin-top: 20px;
    background-color: black;
    text-align: center;
}
.cust-img{
    height:300px;
    width:auto;
    text-align: center;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    .cust-img{
        height:auto;
        width: 100%;
        max-height: 300px;
    }
}

@media screen and (min-width: 481px) and (max-width: 1015px) {
    .cust-img{
        height:auto;
        width: 100%;
        max-height: 300px;
    }
}