<div [ngClass]="cls" id="myTopnav">

  <a class="activeBar">{{ currentUrl | titlecase }}</a>
  <a routerLinkActive="active" (click)="chanFunction()" routerLink="/" [routerLinkActiveOptions]="{ exact: true}">Welcome</a>
  <a routerLinkActive="active" (click)="chanFunction()" routerLink="/profile" >Profile</a>
  <a routerLinkActive="active" (click)="chanFunction()" routerLink="/events" >Events</a>
  <a routerLinkActive="active" (click)="chanFunction()" routerLink="/gallery" >Gallery</a>
  <a routerLinkActive="active" (click)="chanFunction()" routerLink="/contacts" >Contact</a>
  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>