<div [ngClass]="cls" id="myTopnav">
  <a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{ exact: true}">Welcome</a>
  <a routerLinkActive="active" routerLink="/profile" >Profile</a>
  <a routerLinkActive="active" routerLink="/events" >Events</a>
  <a routerLinkActive="active" routerLink="/gallery" >Gallery</a>
  <a routerLinkActive="active" routerLink="/contacts" >Contact</a>
  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>