.cust-col-6{
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    padding-top: 20px;
}

.cust-col-12{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding-top: 20px;
}
.top-row{
    border-bottom: 1px solid #EABD50;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 65px;
    margin-right: 65px;
    font-weight: 600 !important;
}
.cust-col-6 img{
    height: 290px;
}
.cust-col-4{
    width: 33.33%;
    min-height: 100px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
}
.cust-col-4 img{
    height: 200px;
}
.main-heading-font {
    font-weight: 650 !important;
    text-transform: capitalize !important;
    color: #D2691E !important;
}
.cust-dan-row {
    border-bottom: 1px solid #EABD50;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-left: 65px;
    margin-right: 65px;
    font-weight: 600 !important;
}