<div class="row top-row">
    <div class="cust-col-12">
      <h3 class="main-heading-font">Members</h3>
    </div>
</div>
<div class="row top-row">
    <div class="cust-col-6" *ngFor="let member of leaders" >
        <img [src]="member.img" />
        <div>
          <b>{{member.name}}</b>
        </div>
        <div>
          {{member.dan}}
        </div>
        <div [innerHtml]="member.description | merge" ></div>
    </div>
</div>

<div class="row cust-dan-row">
    <div class="cust-col-4" *ngFor="let member of seconddan" >
      <img [src]="member.img" />
        <div>
          <b>{{member.name}}</b>
        </div>
        <div>
          {{member.dan}}
        </div>
    </div>
</div>

<div class="row cust-dan-row">
  <div class="cust-col-4" *ngFor="let member of thirddan" >
    <img [src]="member.img" />
      <div>
        <b>{{member.name}}</b>
      </div>
      <div>
        {{member.dan}}
      </div>
  </div>
</div>

<div class="row cust-dan-row">
  <div class="cust-col-4" *ngFor="let member of fourthdan" >
    <img [src]="member.img" />
      <div>
        <b>{{member.name}}</b>
      </div>
      <div>
        {{member.dan}}
      </div>
  </div>
</div>